.box1
{
    background-color:grey;
    width: 680px;
    height: 500px; 
    padding-left: 20px;
    padding-top: 20px;
}
.box1a{
    background-color: rgb(242, 242, 126);
    width:450px;
    height: 300px;
    
}




